@import url('https://fonts.googleapis.com/css?family=Poppins:200.300,400,500,600,700,800,900&display=swap');

html, body
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



body
{
    margin:0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    background: url(background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

header
{
    position: relative;
    max-width: 1200px;
    
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    
    text-align: center;
    outline: 5px solid #9D00FF;

}

#ImSticky {
    height:100px;
    width:275px;
    position: fixed;
    bottom: 475px;
    left: 90px;
}
.logo
{
    color: #9D00FF;
    height: 60px;
    line-height: 60px;
    font-size: 45px;
    padding: 0 20px;
    
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 900;
    text-decoration: none;
}

nav{
    float: right;
}

.clearfix
{
    clear: both;
}

nav ul
{
        margin:0;
        padding: 0;

        display: inline-flex;
        list-style: none;
}

nav ul li
{
    width: 150px;
    margin: 15px;
    padding: 15px;
}

nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color:#262626 ;
}

nav ul li a.active, 
nav ul li a:hover
{
    background: #9D00FF;
    color: #fff;
    transition:0.2s;
}

nav .fa
{
    margin-right: 5px;
}

.sub-menu-1
{
    display: none;
}

nav ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #fff;
    margin-top: 10px;
    margin-left: -15px;
    outline: 3px solid #9D00FF;
}

nav ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

nav ul li:hover .sub-menu-1 ul li
{
    width: 240px;
    padding: 0px;
    background: transparent;
    border-radius: 0;
    text-align: center;
    border-bottom: 1px dotted #9D00FF;
}

nav ul li:hover .sub-menu-1 ul li a:hover
{
    color: #fff;
}

.fa-angle-right
{
    float: right;
}

.sub-menu-2
{
    display: none;
}

.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 220px;
    background:#fff;
    outline: 3px solid #9D00FF;
}

@media(max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}

@media(max-width: 768px)
{
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color:#069370;
    }
    .menu-toggle:before
    {
        content:'\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before
    {
        content:'\f00d';
    }
    nav
    {
        display: none;
    }
    nav.active
    {
        display: block;
        width: 100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li a
    {
        margin: 0;
    }

}



.socialMedia
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20vh;
    min-height: 40vh;
    transition: 0.5s;

}
.sci
{
    position: relative;
    display: flex;

}
.sci li
{
    list-style: none;
}
.sci li::before
{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(2000px,100px);
    font-size: 7vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}
.sci li:hover::before
{
    opacity: 1;
    transform: translate(-50%,calc(-50% + 150px));
    color: #fff;
    text-shadow: 0 0 3px #FF0000;
    
}

.sci li a
{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius:  10px;
    text-decoration: none;
    margin: 80px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    transition: background 0.25s;

}

.js-tilt-glare
{
    border-radius: 10px;
}

.sci li a:hover.college
{
    background:#0000FF;
}

.sci li a:hover.event
{
    background:#FF0000;
}





.sci li a .fa{
    transition:0.25s;
    pointer-events: none;
}

.sci li a:hover .fa{
    color: #fff;
    transform: scale(1.75) translateZ(50px);
}

.t1 {
    position: absolute;
    bottom: 52%;
    left: 16px;

    color: #fff;
    font-size: 33px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0 0 3px #FF0000;
  }

  .t2 {
    position: absolute;
    bottom: 48%;
    left: 16px;

    color: #fff;
    font-size: 17px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0 0 3px #FF0000;
  }

  .t3 {
    position: absolute;
    bottom: 5%;
    right: 170px;

    color: 	#ff69b4 ;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0 0 3px #262626;
  }
